body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #1e2935;
  color: #66669b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#flexWrapper{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.loadingMainSplash{
  margin: 0 auto;
}

/* :Kanji.js */
#coloredBgAndKanji{
  background-color: #66669b;
  height: 100vh;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#kanjiCharacter{
  font-size: 22vw;
  color: #1e2935;
  /* idk what to do about this text shadow */
  /* text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.2);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text; */
}
/* :Meanings.js */
#meaningDiv{
  display: flex;
  align-items: center;
  width: 50vw;
  font-size: 2.5vw; 
  margin-left: auto;
}
.meaningChildDiv{
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  margin-left: 5vw;
}
.entryEl{
  display: flex;
  align-items: baseline;
}
.meaningElLabel, .meaningDividers{
  font-size: 1vw;
  font-style: italic;
}
.meaningDividers{
  margin: 0 .4vw;
}
.meaningElInfo{
  font-size: 2.5vw;
}
.loading{
  margin-top: .5rem;
}
.subMeaning{
  font-size: 1vw;
  list-style-type: circle;
  line-height: 1.3;
  padding-left: .2vw;
}
#conditionalMeanings, #jishoSearch{
  margin-top: .5vw;
  display: flex;
  width: auto;
  line-height: 1;
  height: 2vw;
  cursor: pointer;
  border-radius: .1vw;
  background-color: #66669b;
  color: #1e2935;
  /* box-shadow: rgba(102, 102, 155, 1) 0px 0px 3px 0px; */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.moreMeanings{
  font-size: 1.5vw;
  max-height: 100%;
  margin: auto 0;
  margin-left: .2vw;
}
#moreMeanings{
  font-size: 1vw;
  margin: auto 0;
}
#extraMeanings{
  margin-top: 1vw;
}
#jishoSearch>a{
  text-decoration: none;
  font-size: 1vw;
  color: #1e2935;
}
#link{
  font-size: 1.5vw;
}
/* :SidebarLinks.js */
#sidebar{
  opacity: .2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1vw 1vw;
  margin-left: auto;
}
.icon{
  width: 1vw;
}

