body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #1e2935;
  color: #66669b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#flexWrapper{
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: space-between;
}
.loadingMainSplash{
  margin: 0 auto;
}

/* :Kanji.js */
#kanjiStripe{
  background-color: #66669b;
  width: 150vw;
  height: 25vw;
  left: -45vw;
  position: fixed;
  transform: rotate(-57deg);
}
#kanjiCharacter{
  font-size: 18vw;
  margin-left: 11%;
  margin-top: 15%;
  position: fixed;
  color: #1e2935;
  /* text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.2);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text; */

}



/* :Meanings.js */
#meaningDiv{
  margin-left: 42vw;
  margin-top: 21vw;
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  font-size: 2.5vw; 
}
.meaningChildDiv{
  display: flex;
  flex-direction: column;
  max-width: 60vw;
}
.entryEl{
  
}
.meaningElLabel{
  font-size: 1vw;

}
.meaningElInfo{
  font-size: 2.5vw;
}
.meaningDividers{
  font-size: 1vw;
  margin: auto -.2vw;
}
.loading{
  margin-top: .5rem;
}
.subMeaning{
  font-size: 1vw;
  list-style-type: circle;
  line-height: 1.3;
  padding-left: .2vw;
}
#conditionalMeanings{
  display: flex;
  width: auto;
  line-height: 1;
  height: 2vw;
  cursor: pointer;
  border-radius: .1vw;
  box-shadow: rgba(102, 102, 155, 1) 0px 0px 1px 0px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.moreMeanings{
  font-size: 1vw;
  max-height: 100%;
  margin: auto 0;
  margin-left: .2vw;
}
#extraMeanings{
  margin-top: 1vw;
}

/* :Footer.js */
#searchLinkText{
  font-size: 1vw;
}
#footer{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
#centerFooter{
  height: 1vw;
}
#centerFooter > a{
  text-decoration: none;
  color: #66669b;
}
/* this rule is also used in Meanings.js */
.material-symbols-outlined{
  font-size: 1vw;
}
#icons{
  opacity: .2;
  margin: 1% .5%;
  margin-bottom: 0;
  align-self: flex-end;
  align-items: flex-end;
  min-width: 10vw;
  text-align: end;
}
.icon{
  width: 1.5vw;
  margin-right: .5vw;
}

